<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <title>
        <%= title %>
    </title> -->
</head>
<%- include('partials/head') %> 

<body>
    <%- include('partials/nav') %> 
    <!-- <a href="/ceo-list">CEOs list</a> -->
</body>

</html>